
<div class="col-md-9" role="main">
  <h3>Scan Results for <%= @scan.targets if @scan.targets %></h3>
  <div class="bs-example">
    <% if @last_scan && @last_scan.finished %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>IP Address</th>
            <th>Open Ports</th>
          </tr>
        </thead>
        <tbody>
          <% @last_scan_with_raw.result.each do |key, value| %>
          <tr>
            <td><code><%= key %></code></td>
            <td><%= value.join(', ') %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  <div class="highlight">
    Scanned with:
      <code><kbd>nmap -sV -oX output.xml -p 20,21,22,23,25,80,110,443,512,522,8080,1080 <%= @scan.targets %></kbd></code>
  </div>


      <h3>Compare with Previous Scans:</h3>
      <div id="history">

      </div>
      <script src="/assets/history_diagram2.js" charset="utf-8"></script>

<!--       <%= javascript_include_tag 'history_diagram2.js' %> -->

      <% if @results %>
        <% @results[0..-2].each do |r| %>
          <%= link_to r.created_at, controller: "scan_results", action: "compare", id: @last_scan_with_raw.id, cid: r.id %><br />
        <% end %>
      <% end %>

    <%= form_tag(controller: "scans", action: "rescan", method: "post") do %>
      <%= submit_tag("Rescan", :class => 'btn btn-primary btn-lg') %>
    <% end %>

    <% elsif @last_scan %>
      <p>Scan in progress... Time elapsed: <b><%= ((Time.now - @last_scan.created_at)/60).round %> minutes</b></p>
    <% else %>
      <p>Oops, this range was never scaned. Please rescan it.</p>
    <% end %>

  <%= form_for @scan, url: {action: "update"} do |f| %>
    <% if @scan.active %>
      <%= f.submit "Disable", :class => 'btn btn-primary btn-lg' %>
    <% else %>
      <%= f.submit "Enable", :class => 'btn btn-primary btn-lg' %>
    <% end %>
  <% end %>
  <br/>
</div>
