<div class="col-md-9" role="main">
  <h3>Scan Comparison</h3>

  <div class="bs-callout bs-callout-info">
    <h4>Summary of changes for <%= @result_a.scan.name %> compared with <%= ((@result_a.created_at - @result_b.created_at)/3600).round %> hours ago.</h4>
    <p>New additions appear in green and removals will show up in red</p>
  </div>
  <% if @results %>
  <div class="bs-example">
    <table class="table">
      <thead>
        <tr>
          <th>IP Address</th>
          <th>Ports</th>
        </tr>
      </thead>
      </tbody>
        <% @results.each do |change| %>

      <% if change[0] == "-" %>
        <tr class="success">
      <% else %>
        <tr class="danger">
      <% end %>
          <td><%= change[1].include?("[") ? change[1][0..-4] : change[1] %></td>
          <td><%= change[2].kind_of?(Array) ? change[2].join(',') : change[2] %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <% else %>
    <p>Oops, something went wrong with this comparison. Please try again.</p>
  <% end %>
  <%= link_to 'Back to Scan', @result_a.scan, :type => 'button', :class => 'btn btn-primary btn-lg' %>
</div>
